{% extends 'layout/base.html' %}

{% block content %}

<section class="banner">

    <div class="banner-content">

        <h1>Đăng nhập tài khoản</h1>

        <p>

            Trang chủ /

            Đăng nhập

        </p>

    </div>

</section>

<section class="login-section">

    <div class="login-card">

        <h2>

            ĐĂNG NHẬP

        </h2>

        <form>

            <input
            type="email"
            placeholder="Email">

            <input
            type="password"
            placeholder="Mật khẩu">

            <button>

                Đăng nhập

            </button>

        </form>

        <div class="login-bottom">

            <a href="#">

                Quên mật khẩu?

            </a>

            <a href="#">

                Đăng ký

            </a>

        </div>

        <div class="divider">

            <span>

                Hoặc đăng nhập bằng

            </span>

        </div>

        <div class="social-login">

            <a href="#" class="google">

                <i class="fa-brands fa-google"></i>

                Google

            </a>

            <a href="#" class="facebook">

                <i class="fa-brands fa-facebook-f"></i>

                Facebook

            </a>

        </div>

    </div>

</section>

{% endblock %}