{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Css chung -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Css riêng từng trang -->
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="app-container">
      {% include 'partials/sidebar.html' %}
      
      <div class="main-content-wrapper">
        {% include 'partials/navbar.html' %}
        
        <main class="main-content">
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>

    <!-- JS chung -->
    <script src="{% static 'js/script.js' %}"></script>
    
    <!-- JS riêng từng trang -->
    {% block extra_js %}{% endblock %}
  </body>
</html>
