<footer class="footer">

    <div class="container">

        <div>

            <h3>Nursing House</h3>

            <p>

                Hệ thống quản lý viện dưỡng lão giúp chăm sóc sức khỏe,
                theo dõi cư dân và hỗ trợ nhân viên.

            </p>

        </div>

        <div>

            <h3>Liên kết</h3>

            <a href="#">Trang chủ</a>

            <a href="#">Giới thiệu</a>

            <a href="#">Dịch vụ</a>

            <a href="#">Liên hệ</a>

        </div>

        <div>

            <h3>Liên hệ</h3>

            <p>

                <i class="fa-solid fa-location-dot"></i>

                Đà Nẵng

            </p>

            <p>

                <i class="fa-solid fa-phone"></i>

                1900 9999

            </p>

            <p>

                <i class="fa-solid fa-envelope"></i>

                support@nursingcare.com

            </p>

        </div>

        <div>

            <h3>Theo dõi</h3>

            <p>

                <i class="fa-brands fa-facebook"></i>

                Facebook

            </p>

            <p>

                <i class="fa-brands fa-youtube"></i>

                Youtube

            </p>

            <p>

                <i class="fa-brands fa-linkedin"></i>

                Linkedin

            </p>

        </div>

    </div>

</footer>

<div class="footer-bottom">

    © 2026 Nursing Home Management System

</div>