<!-- Top Bar -->

<div class="top-bar">

    <div class="container">

        <div>

            <i class="fa-solid fa-phone"></i>

            Hotline: 1900 9999

            &nbsp;&nbsp;|

            &nbsp;&nbsp;

            <i class="fa-solid fa-envelope"></i>

            support@nursinghouse.com

        </div>

        <div class="top-right">

            <a href="#">VI</a>

            <a href="#">EN</a>

            <a href="#">Đăng nhập Admin</a>

        </div>

    </div>

</div>

<!-- Header -->

<header class="header">

    <div class="container">

        <div class="logo">

            <i class="fa-solid fa-house-medical"></i>

            <div class="logo-text">

                <h2>Nursing House</h2>



            </div>

        </div>

        <nav class="menu">

            <a href="#">Trang chủ</a>

            <a href="#">Giới thiệu</a>

            <a href="#">Dịch vụ</a>

            <a href="#">Cư dân</a>

            <a href="#">Đội ngũ</a>

            <a href="#">Liên hệ</a>

        </nav>

        <div class="header-right">

            <a href="#" class="btn-outline">

                Đăng ký

            </a>

            <a href="/" class="btn-login">

                Đăng nhập

            </a>

        </div>

    </div>

</header>